<div class="main">
    <img src="../../../assets/images/25626245_10155760820040631_7366186267471486840_o.jpg"
        alt="Accurate Photo of our Dear Professor" />
    <mat-list>
        <mat-list-item class="title">Project Description</mat-list-item>
        <mat-list-item>
            <p>
                This project allows inspectors to inspect for facilities that provide servecies. Inspectors can write
                honest reports and evaluations for people to know the quality of those services.
            </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="title">Dedicated To</mat-list-item>
        <mat-list-item>Our dear professor, Asaad Saad. We Love Learning.</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>