<div class="main clearfix">
  <img
    class="asaad"
    src="../../../assets/images/25626245_10155760820040631_7366186267471486840_o.jpg"
    alt="Accurate Photo of our Dear Professor"
  />
  <div>
    <h2>Project Description</h2>
    <p>
      This project allows inspectors to inspect for facilities that provide
      services. Inspectors can write honest reports and evaluations for people
      to know the quality of those services.
    </p>
    <mat-divider></mat-divider>
    <h2>Dedicated To</h2>
    <p>Our dear professor, Asaad Saad. We Love Learning.</p>
    <mat-divider></mat-divider>
    <div class="team-members row">
      <h2>Team members</h2>
      <mat-divider></mat-divider>
      <div class="card-container">
        <mat-card class="card col-3">
          <mat-card-header>
            <mat-card-title>Dalia Mahgoub</mat-card-title>
            <mat-card-subtitle>610522</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/dalia.jpeg"
            alt="Photo of Dalia"
          />
          <mat-card-content>
            <p>Express:</p>
            <p>
              Facility and Inspection API Routes, Mongoose Schemas, Validation
              Middleware, API Documentation
            </p>

            <p>Angular:</p>
            <p>
              Inspection Module, View Inspection Component, Add/Edit Inspection
              Component (Used Angular Material), Inspection Service , Ngrx
              (actions, effects, selectors, reducers) to Handle Inspection State
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card col-3">
          <mat-card-header>
            <mat-card-title>Edgar de Jesus Endo Junior</mat-card-title>
            <mat-card-subtitle>610580</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/edgar.jpeg"
            alt="Photo of Edgar"
          />
          <mat-card-content>
            <p>Researched and gave support to teammates about Redux and NgRx.
            Implemented basic NgRx Structure (this required a lot of
            refactoring). Developed Authentication (Angular Module and Express
            API calls) to handle User Login using JWT.</p> 
            <p>Created basic App Web
            Layout. Implemented Express CRUDs and Middlewares related to User
            Management. Deployed MongoDB database on Atlas. Setup CircleCI
            integration to help prevent bad Pull Requests. Configured Angular to
            be served by Express. Deployed Project on Heroku.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card col-3">
          <mat-card-header>
            <mat-card-title>Yousef Ali Omar Quran</mat-card-title>
            <mat-card-subtitle>610518</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/yousef.jpeg"
            alt="Photo of Yousef"
          />
          <mat-card-content>
            TODO
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
