<div class="main-area">
  <mat-progress-spinner
    *ngIf="loading$ | async"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <mat-card *ngIf="user$ | async" class="example-card">
    <mat-card-header>
      <div mat-card-avatar style="background-image: url('{{ ( user$ | async ).email | gravatarUrl }}');
      background-size: cover;"></div>
      <mat-card-title>{{ (user$ | async)?.name }}</mat-card-title>
      <mat-card-subtitle
        ><mat-chip-list>
          <mat-chip *ngFor="let group of (user$ | async)?.groups">{{ group }}</mat-chip>
        </mat-chip-list></mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image [src]="(( user$ | async ).email | gravatarUrl)+'&s=400'" alt="Accurate Photo of {{ ( user$ | async ).name }}" title="Accurate Photo of {{ ( user$ | async ).name }}">
    <mat-card-content>
      <p><strong>Email: </strong> {{ (user$ | async)?.email }}</p>
      <p>
        {{ (user$ | async)?.bio }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
