.fixed-header {
  position: fixed;
  z-index: 5;
  top: 0;
}

.active {
  background-color: darkblue;
}

.flex-spacer {
  flex-grow: 1;
}

button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
