<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <button
      mat-button
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="./assets/nyan2.svg" style="width:50px;" /> Home
    </button>
    <button mat-button [routerLink]="['/inspection']" routerLinkActive="active">
      Inspection
    </button>
    <button mat-button [routerLink]="['/facilities']" routerLinkActive="active">
      Facilities
    </button>
    <button *ngIf="loggedInUser$ | async" mat-button [routerLink]="['/users']" routerLinkActive="active">
      Users
    </button>
    <div class="flex-spacer"></div>
    <div *ngIf="!(loggedInUser$ | async)">
      <button mat-button [routerLink]="['/login']" routerLinkActive="active">
        Login
      </button>
      <button mat-button [routerLink]="['/signup']" routerLinkActive="active">
        Signup
      </button>
    </div>
    <div *ngIf="loggedInUser$ | async">
      <button class="image" [title]="(loggedInUser$ | async)?.username" mat-mini-fab color="primary" [matMenuTriggerFor]="appMenu" [style.backgroundImage]="'url(' + ((loggedInUser$ | async)?.email | gravatarUrl) + ')'">
      </button>
      <mat-menu #appMenu="matMenu" yPosition="below" xPosition="before">
        <mat-action-list>
          <mat-list-item
            >Signed in as {{
              (loggedInUser$ | async)?.username
            }}</mat-list-item
          >
          <mat-divider></mat-divider>

          <button mat-list-item (click)="onLogout()">
            Logout
          </button>
        </mat-action-list>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
