 button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
  
.main-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.map-area {
  flex: 2;
  margin-right: 30px;
}

.table-area {
  flex: 1;
}

app-esri-map-redux {
  display: flex;
  flex: 1;
}

app-inspections-table {
  flex-grow: 1;
}