<div class="main-area">
  <div class="map-area">
    <app-esri-map-redux></app-esri-map-redux>
  </div>
  <div class="table-area">
    <div>
      <mat-card class="row">
        <mat-card-content>
          <div #mapViewNode></div>
          <mat-progress-spinner
            *ngIf="loading$ | async"
            color="primary"
            mode="indeterminate"
          ></mat-progress-spinner>
          <div *ngIf="!(loading$ | async)">
            <h1 *ngIf="(selectedFacility$ | async)">
              {{ (selectedFacility$ | async)?.name }} Inspections
            </h1>
            <h1 *ngIf="!(selectedFacility$ | async)">All Inspections</h1>
            <button
              mat-button
              *ngIf="
                (selectedFacility$ | async) && (mapMode$ | async) == 'NONE'
              "
              (click)="createInspection()"
            >
              Create New Inspection for this Facility
            </button>
            <app-inspections-table
              *ngIf="
                !['CREATE_INSPECTION', 'EDIT_INSPECTION'].includes(
                  mapMode$ | async
                )
              "
            ></app-inspections-table>
            <app-inspection-add-edit
              *ngIf="
                ['CREATE_INSPECTION', 'EDIT_INSPECTION'].includes(
                  mapMode$ | async
                )
              "
            ></app-inspection-add-edit>
          </div>
        </mat-card-content>
      </mat-card>
      <app-inspection-detail
        *ngIf="
          !['CREATE_INSPECTION', 'EDIT_INSPECTION'].includes(mapMode$ | async)
        "
      ></app-inspection-detail>
    </div>
  </div>
</div>
