<div class="main-area">
  <mat-progress-spinner
    *ngIf="loading$ | async"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <table *ngIf="!(loading$ | async)" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>.</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="image"
          [title]="element?.username"
          mat-fab
          color="primary"
          [style.backgroundImage]="
            'url(' + (element?.email | gravatarUrl) + ')'
          "
        ></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username.</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name.</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef>Groups</th>
      <td mat-cell *matCellDef="let element" style="max-width: 300px;">
        <mat-chip-list>
          <mat-chip *ngFor="let group of element.groups">{{ group }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Created at.</th>
      <td mat-cell *matCellDef="let element">
        {{ element._id | idToDate | date: "medium" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/users/', row.username]"
    ></tr>
  </table>
</div>
